@import "../../../media/mixins";
@import "../../../media/variables";
@include mc {
  .selectCl{
    min-width: 150px;
  }
}
@include sm{
  .selectCl{
    min-width: 200px;
  }
}

@include md{
  .selectCl{
    min-width: 280px;
  }
}
@include xl {
  .selectCl{
    min-width: 140px;
  }
}

@include xxl{
  .selectCl{
    min-width: 190px;
  }
}
@include large{
  .selectCl{
    min-width: 250px;
  }
}