@import "../../media/mixins";
@import "../../media/variables";

@include mc {
  .imgBlock {
    display: flex;

    & img {
      width: 220px;
      height: 240px;
      border: 2px solid lightgrey;
    }

    background: gray;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 550px;
    width: 290px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: white;
    border: 2px solid black;
  }

  .content {
    margin-top: 15px;
    padding-left: 10px;
  }
  .textCl {
    border-bottom: 1px solid gray;
  }
  .categories {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Gill Sans, sans-serif;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: Gill Sans, sans-serif;
  }

  .author {
    color: lightgrey;
    font-family: Gill Sans, sans-serif;
  }

  .description {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
    font-family: Gill Sans, sans-serif;
    & span {
      border-bottom: 1px solid whitesmoke;
    }
  }
  .descriptionText {
    text-align: justify;
    margin-right: 9px;
    margin-bottom: 15px;
    line-height: 27px;
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
  }
}
@include sm {
  .wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 550px;
    width: 380px;
    margin-bottom: 50px;
    margin-top: 30px;
  }

}
@include xl {
  .wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 550px;
    width: 680px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .imgBlock {
    display: flex;

    & img {
      width: 200px;
      height: 300px;
      border: 2px solid lightgrey;
    }
    background: grey;
    justify-content: center;
  }
}
@include xxl {
  .wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 550px;
    width: 810px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
}