@import "../../../media/mixins";
@import "../../../media/variables";
@include mc {
  .card {
    max-width: 300px;
    min-height: 400px;
    display: flex;
  }

  .content {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .image {
    display: flex;
    justify-content: center;
    max-height: 200px;
    width: 100%;

    & img {
      max-height: 200px;
      width: 150px;
    }
  }

  .textCl {
    border-bottom: 1px solid gray;
  }

  .button {
    display: flex;
    align-items: flex-start;
  }
}
@include md{
  .card {
    max-width: 290px;
    min-height: 400px;
    display: flex;
  }
}